{% extends 'base.html' %} {% block title %} Add Job{% endblock title
%} {% block body %}
<div class="container mb-3">
  <form action="/add-task">
    <div class="mb-3">
      <label for="url" class="form-label">URL: </label>
      <input type="text" class="form-control" name="url" id="url" aria-describedby="emailHelp" required>
      <div id="url" class="form-text">Insert the URL to scrap and get words count on p tags</div>
    </div>
    {% if message %}
    <small id="emailHelp">{{ message }}</small>
    {% endif %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<div class="container">
  <h1 style="text-align: center;">ADD JOB to QUEUE</h1>
  {% if jobs %} {% for job in jobs %}
  <div class="card">
    <div class="card-header">
      <!-- <p>Args: {{ job.args }}</p> -->
      Args: {{ job.args }}
    </div>
    <div class="card-body">
      <!-- # <h6>{{ job.func_name }}</h6> -->
      <p>Function used: {{ job.func_name }}</p>
      <!-- <p>Return Value: {{ job.result }}</p> -->
      <small>Job ID: {{ job.id }}</small>
      <!-- <small>Status: {{ job.get_status() }}</small>  -->
      <div class="card-footer">
        <small
          >Created at: {{ job.created_at.strftime('%a, %d %b %Y %H:%M:%S') }}</small
        >
        <small
          >Enqueued at: {{ job.enqueued_at.strftime('%a, %d %b %Y %H:%M:%S')
          }}</small
        >
      </div>
    </div>
  </div>
  <br>
  {% endfor %} {% else %}
  <p>No jobs in queue</p>
  {% endif %}
  
</div>
{% endblock body %}
